{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <main>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous déjà connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <section id="form">
                <div class="login">
                    <h2 class="h3 mb-3 font-weight-normal">Connectez-vous !</h2>
                    <label for="username">Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                    <label for="password">Password</label>
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                    <div class="checkbox">
                        <label for="_remember_me">Remember me</label>
                        <input type="checkbox" name="_remember_me" id="_remember_me">
                    </div>
                    <button class="btn btn-lg btn-primary" type="submit">
                        Se connecter
                    </button>
                </div>
            </section>
         
        </form>
        <span class="account">Vous n'avez pas de compte ? <a class="click" href="{{ path('app_register') }}">Cliquez ici</a> pour en créer un.</span>
    </main>
{% endblock %}
