{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <main id="index">
        <section id="intro">
        <h2>Qui sommes-nous ?</h2>
            <p id="textintro">
                Rememono est un site de note en ligne qui permet de pouvoir écrire ses propres mémos et ainsi pouvoir les voir et modifier sur n'importe quel support pouvant s'y connecter. Il permet de rentrer des dates, des tags en plus d’un titre et de son contenu. Il est partiellement personnalisable à la guise de l’utilisateur. Il est aussi un projet de formation pour montrer mes compétences en développement web. Il est développé avec Symfony 6.4 et plusieurs bundles. Il est hébergé sur un serveur O2Switch.
            </p>
        </section>
        <section id="note">
        <h2>Quelques notes publiques aléatoires :</h2>
            <div id="notebloc">
                {% for note in notes | slice(0,6) %}
                    <div class="notebody {{ note.color.label }} ">

                        <div class="text">
                            <h3>{{ note.titre }}</h3>
                            {% if note.datedebut != null %}
                                <p class="datedebut">Date de début : {{ note.datedebut|date('d/m/Y') }}</p>
                            {% endif %}
                            <p>{{ note.content|slice(0, 150)}}</p>
                            
                        </div>
                
                        <div class="notefooter"> 
                            <div>Autheur : {{ note.user.alias }} </div>

                            <div class="tags">
                                {% for tag in note.tag|slice(0, 5) %}
                                        <div>
                                            <span class="tag">{{ tag.label }}<span class="triangle"></span></span>
                                        </div>
                                {% endfor %}
                            </div>
                            <ul class="action">
                                <li><a href="{{ path('app_note_read', {'id': note.id})}}"><i class="fa-solid fa-magnifying-glass"></i> <span class="plus"></span> </a></li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    
    </main>

{% endblock %}
