{% extends 'base.html.twig' %}

{% block body %}
<section id="read">
    <h2> {{ note.titre }} </h2>
    <p> {{ note.content }} </p>
    <p> {{ note.datedebut|date('d/m/Y') }} </p>
    <p> {{ note.datefin|date('d/m/Y') }} </p>

    <div class="tags">
        {% for tag in note.tag %}
                <div>
                    <span class="tag">{{ tag.label }}<span class="triangle"></span></span>
                </div>
        {% endfor %}
    </div>

    <p> Créé le {{ note.createdAt|date('d/m/Y h:i') }} </p>
    {% if note.modifiedAt != note.createdAt %}
        <p> Dernière modification le {{ note.modifiedAt|date('d/m/Y h:i') }} </p>
    {% endif %}

    <ul>
        <li><a href="{{ path('app_note_edit', {'id': note.id}) }}"><i class="fa-solid fa-pen"></i> Modifier</a></li>
        <li><a href="{{ path('app_index') }}"><i class="fa-solid fa-arrow-left"></i> Retour</a></li>
        <li> {{ include('note/_deleteform.html.twig') }}</li>
    </ul>
</section>

{% endblock body %}